:root {
	color-scheme: light dark;
	font-family:
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Fira Sans',
		'Droid Sans',
		'Helvetica Neue',
		sans-serif;
	tab-size: 4;
	overflow-wrap: break-word;
	--background: white;
	background: var(--background);
}

pre {
	white-space: pre-wrap;
	background: var(--background);
	padding: 0.6rem 1rem;
	border-radius: 0.5rem;
	--shadow-color: #0003;
	filter: drop-shadow(2px 4px 6px var(--shadow-color));
}

a {
	--color: LinkText;
	color: var(--color);
}

a:hover {
	color: hsl(from var(--color, currentColor) h calc(s * 2) calc(l * 0.5));
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #121212;
	}
	a:hover {
		color: hsl(from var(--color, currentColor) h s calc(l * 1.1));
	}
	pre {
		--shadow-color: #0006;
	}
}

h2, h3, h4, h5, h6 {
	font-weight: 500;
}

.container {
	max-width: 100ch;
	margin: 0 auto;
	margin-block: 2rem;
	padding-inline: 0.3rem;
}

.markdown-alert {
	margin-block: 0.6em;
	border-inline-start: 0.25em solid var(--alert-color);
	padding: 0.3em 1em;
	background: color-mix(in srgb, var(--alert-color), var(--background) 90%);
}
.octicon {
	fill: currentColor;
}
.markdown-alert > :first-child {
	margin-block-start: 0;
}
.markdown-alert > :last-child {
	margin-block-end: 0;
}
.markdown-alert .markdown-alert-title {
	display: flex;
	align-items: center;
	gap: 0.5em;
	font-weight: bold;
	color: var(--alert-color);
	margin: 0;
}
.markdown-alert-note {
	--alert-color: dodgerblue;
}
.markdown-alert-tip {
	--alert-color: forestgreen;
}
.markdown-alert-important {
	--alert-color: rebeccapurple;
}
.markdown-alert-warning {
	--alert-color: darkorange;
}
.markdown-alert-caution {
	--alert-color: crimson;
}
.markdown-alert p:not([class]) {
	margin-block-start: 0.3rem;
	font-size: 0.9rem;
}

.breadcrumbs {
	list-style-type: none;
	padding-inline-start: 0;
	display: flex;
	gap: 0.5em;
}

.token.string {
	color: firebrick;
}
.token.number {
	color: dodgerblue;
}
.token.string-property {
	color: darkgoldenrod;
}
.token.punctuation, .token.operator {
	color: lightslategray;
}

@media (prefers-color-scheme: dark) {
	.token.string {
		color: tomato;
	}
	.token.number {
		color: deepskyblue;
	}
	.token.string-property {
		color: goldenrod;
	}
	.token.punctuation, .token.operator {
		color: slategray;
	}
}

.token a {
	--color: inherit;
}
